@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@700&family=Love+Ya+Like+A+Sister&family=Rubik+Doodle+Shadow&display=swap');

@font-face {
  font-family: 'dseg7-modern';
  src: url('../fonts/DSEG7ModernMini-Regular.ttf') format('truetype');
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(142, 204, 142);
  font-family: 'Abel';
}

button {
  margin: 10px auto;
  padding: 10px 15px;
  font-size: 2.5vh;
  border-radius: 15px;
  border: 1px solid #555555;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Love Ya Like A Sister', cursive;
}

button:hover {
  opacity: 1;
}

input {
  width: 200px;
  padding: 10px;
  margin: 10px;
  font-size: 3vh;
  color: #999;
  text-align: right;
  border-radius: 5px;
  border: 1px solid #666;
}

/* header & footer */
header, footer {
  height: 6vh;
  background-image: url('../imgs/cards_pattern.png');
  background-size: 10vh;
  background-repeat: repeat-x;
}

footer {
  background-position: bottom;
}


/* starting screen */
.starting-screen {
  text-align: center;
}

h1 {
  font-size: 14vh;
  font-family: 'Rubik Doodle Shadow';
  margin: 10vh 0 6vh 0;
}

.starting-screen p {
  font-size: 3vh;
}

.start-btn {
  font-size: 4vh;
  box-shadow: 0 7px #999999;
}

.start-btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* house-rules */
.house-rules {
  width: 65%;
  margin: 4vh auto;
  border: 8px solid #b2771f;
  background: #247150;
  color: #ffffff;
  box-shadow: 2px 2px 4px #999999, 2px 2px 2px #004200 inset;
  padding: 15px;
  font-family: 'Caveat';
}

.house-rules p {
  display: inline-block;
  font-size: 4vh;
  margin-bottom: 0.4em;
  border-bottom: 1px solid #ffffff;
}

ul {
  margin-left: 20px;
  padding-left: 0px;
}

li {
  font-size: 2.5vh;
  margin-bottom: 0.1em;
}

.during-game {
  width: 20%;
  position: absolute;
  right: 0;
  margin-right: 20px
}


/* game */
.game {
  text-align: center;
  position: relative;
  margin-bottom: 1.5vh;
}

h2 {
  font-size: 5.5vh;
  font-family: 'Rubik Doodle Shadow';
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}

/* deck place */
.deck-place {
  position: absolute;
  margin-left: 20px;
  font-size: 3vh;
}

.deck-place p {
  font-size: 2.5vh;
}


/* game field */
h3 {
  font-size: 3.2vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  height: 8em;
  align-content: center;
  font-size: 3vh;
}

.result-display {
  height: 5.5vh;
  width: 35%;
  margin: 0 auto;
  background-color: #f7e69a;
  border: 3px double #888888
}

.result {
  font-size: 4vh;
}

.dealer {
  position: relative;
}

.dealer-img {
  height: 14vh;
}

.dealer-comment {
  width: 30vw;
  display: block;
  position: absolute;
  top: 7.5vh;
  left: 52.5vw;
  font-size: 2.5vh;
  text-align: left;
}


/* bet status */
.bet-status {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  width: 20%;
  text-align: left;
}

.bet-discription {
  font-size: 2.5vh;
  margin-left: 10px;
}

.balance-wrap {
  font-family: 'dseg7-modern';
  background-color: #333;
  color: #eee;
  font-size: 5vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* buttons */
.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 20px;
}

.buttons button {
  margin-left: 10px;
}

.stand-btn {
  background-color: #dad4fa;
}

.hit-btn {
  background-color: #fad4db;
}

.double-down-btn {
  background-color: #faf5d4;
}

.surrender-btn {
  background-color: #d6fad4;
}

.split-btn {
  display: none;
}